/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    height: 55px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #CECECE;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    height: 55px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
    height: 55px;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #1B264F;
    color: white;
    height: 55px;
  }
  .photo {
    max-width: 100%;
    height: auto;
  }
  .logo{
    position: absolute;
    top: 0px;
    right: 0px;
    height:59px;
    width: 60px;
    opacity: 0.8;
    border-radius: 2px;
  }


  h1{
   
    font-family: 'Times New Roman', Times, serif;
  }
  /* color pallete: https://coolors.co/e8e9f3-cecece-a6a6a8-272635-b1e5f2 */